* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Montserrat", sans-serif;
}

html,
body {
  scroll-behavior: smooth;
}

body {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-color: #0d0d0d;
}

.container {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1400px;
  color: #ffffff;
  overflow-x: hidden;
}

ul {
  display: flex;
  list-style: none;
}
