@media screen and (max-width: 795px) {
  .container {
    display: flex;
    flex-direction: column;
    gap: 3rem 0;
  }

  .header__container .nav__container {
    padding: 0 1.5em;
  }

  .header__container .slider__wrapper {
    display: none;
  }

  .header__container .header__content__wrapper {
    padding: 2.5em 1.5em;
  }

  .overview__wrapper .subtitle {
    -webkit-line-clamp: 3;
    -moz-line-clamp: 3;
    -ms-line-clamp: 3;
    line-clamp: 3;

    max-height: 50%;
  }

  .genres__wrapper ul {
    gap: 0 0.5em;
  }

  .main__container {
    padding: 0 1.5em;
    gap: 1.5rem 0;
  }

  .main__content__wrapper span {
    max-width: 180px;
  }

  .footer__wrapper {
    margin: 0 0 2.5em;
    padding: 0 1.5em;
  }

  .footer__wrapper p {
    font-family: "Roboto Mono", monospace;
    font-size: 0.75rem;
    line-height: 1.6;
  }
}

@media screen and (max-width: 615px) {
  .main__content__wrapper {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
  }

  .main__content__wrapper span {
    max-width: 200px;
  }

  .main__container .header__wrapper h1 {
    font-size: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .main__content__wrapper span {
    width: 100%;
    max-width: 180px;
    justify-self: center;
  }
}
